<br>
<br>
<br>

<br>
<div layout="column" layout-sm="column" flex>
  <div flex="50" *ngIf="cro.showDashboardBigChart">
    <google-chart #cchart [data]="cro.barChartAnalyticData" class="pointer"
                  (chartSelect)='selectData($event)'></google-chart>
  </div>

  <div flex="50" *ngIf="cro.showTripsTable">
    <h1>Trips Table</h1>
    <div>
      <div class="example-container">
        <mat-table #tripstable class="pointer" [dataSource]="cro.tripsTableDataSource">

          <ng-container matColumnDef="trip_id">
            <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
            <mat-cell *matCellDef="let trip"> {{trip.trip_id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="user_id">
            <mat-header-cell *matHeaderCellDef> User ID</mat-header-cell>
            <mat-cell *matCellDef="let trip"> {{trip.user_id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="time_start">
            <mat-header-cell *matHeaderCellDef>Time start</mat-header-cell>
            <mat-cell *matCellDef="let trip"> {{trip.time_start | date:'yyyy-MM-dd HH:mm'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="time_end">
            <mat-header-cell *matHeaderCellDef>Time end</mat-header-cell>
            <mat-cell *matCellDef="let trip"> {{trip.time_end | date:'yyyy-MM-dd HH:mm'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="distance">
            <mat-header-cell *matHeaderCellDef>Distance</mat-header-cell>
            <mat-cell *matCellDef="let trip"> {{trip.distance | number:'1.1-3'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="hasEvent">
            <mat-header-cell *matHeaderCellDef>Event</mat-header-cell>
            <mat-cell *matCellDef="let trip">
              <div *ngIf="trip.hasEvent"><img src="comroadsIconMedia.png"></div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tripsTableColumn"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tripsTableColumn;" (click)="cro.exploreTripData(row)"></mat-row>
        </mat-table>

        <mat-paginator *ngIf="cro.showTripsPaginator" #tripspaginator
                       [length]=cro.tripsLength
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 20]"
                       (page)="cro.paginatorTripsEvent = $event; cro.onPaginateTripsChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>

  <div *ngIf="cro.showTripMaps">
    <h1>Trip No. {{cro.currentTripId}} On Map for user {{cro.currentUser.user_id}} Name : {{cro.currentUser.first_name}}
      {{cro.currentUser.last_name}}</h1>
    <agm-map [zoom]="cro.zoom" [latitude]="cro.latitude" [longitude]="cro.longitude" [fullscreenControl]="true">
      <agm-marker [latitude]="cro.startingPointLatitude" [longitude]="cro.startingPointLongitude"
                  [iconUrl]="'comroadsIconStart.png'"></agm-marker>
      <agm-marker [latitude]="cro.endingPointLatitude" [longitude]="cro.endingPointLongitude"
                  [iconUrl]="'comroadsIconCheckered.png'"></agm-marker>
      <div *ngFor="let evt of cro.uploadList">
        <agm-marker [latitude]="evt.latitude" [longitude]="evt.longitude"
                    [iconUrl]="'comroadsIconMedia.png'"></agm-marker>
      </div>
      <agm-marker *ngIf="cro.pointClicked" [latitude]="cro.pointLatitude" [longitude]="cro.pointLongitude"></agm-marker>
      <agm-data-layer [geoJson]="cro.GeoJsonToDraw"></agm-data-layer>
    </agm-map>

    <h1>Analytic Area for trip No. {{cro.currentTripId}}</h1>

    <google-chart #cchart [data]="cro.lineChartAccelerationData" (chartSelect)='cro.selectPoint($event)'></google-chart>
    <google-chart #cchart [data]="cro.lineChartSpeedData" (chartSelect)='cro.selectPoint($event)'></google-chart>
  </div>

  <div flex="50" *ngIf="cro.showEventsTable">
    <h1>Events Table</h1>
    <div>
      <div class="example-container">
        <mat-table #eventstable class="pointer" [dataSource]="cro.eventsTableDataSource">

          <ng-container matColumnDef="users_id">
            <mat-header-cell *matHeaderCellDef> User ID</mat-header-cell>
            <mat-cell *matCellDef="let event"> {{event.users_id}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
            <mat-cell *matCellDef="let event"> {{event.date | date:'yyyy-MM-dd HH:mm:ss'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="video_name">
            <mat-header-cell *matHeaderCellDef>Video Name</mat-header-cell>
            <mat-cell *matCellDef="let event"> {{event.video_name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="latitude">
            <mat-header-cell *matHeaderCellDef>Latitude</mat-header-cell>
            <mat-cell *matCellDef="let event"> {{event.latitude | number:'1.1-3'}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="longitude">
            <mat-header-cell *matHeaderCellDef>Longitude</mat-header-cell>
            <mat-cell *matCellDef="let event"> {{event.longitude | number:'1.1-3'}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
            <mat-cell *matCellDef="let event"> {{event.location}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="cloud_status">
            <mat-header-cell *matHeaderCellDef>Cloud Status</mat-header-cell>
            <mat-cell *matCellDef="let event"> {{event.cloud_status}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="cro.eventsTableDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: cro.eventsTableDisplayedColumns;"
                   (click)="cro.eventRowClicked(row)"></mat-row>
        </mat-table>

        <mat-paginator *ngIf="cro.showEventsPaginator" #eventspaginator
                       [length]=cro.eventsLength
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 20]"
                       (page)="cro.paginatorEventsEvent = $event; cro.onPaginateEventsChange($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
